/*
Theme Name: Cimart
Author: Neos
Description: Template for cimart.lu website
Version: 0.0.1
Tags: bootstrap
*/

/*imports*/
@font-face {
    font-family: Futura;
    src: url('fonts/FuturaLT-Bold.ttf');
}

html, body {
    height: 100%;
}

.no-margin { margin: 0 !important }
.margin-bottom-10 { margin-bottom: 10px !important }

.container-fluid {
    background-size: cover;
    height: auto;
    min-height: 100%;
}

.page-logo {
    text-align: center;
    width: 100%;
    color: white;
    font-family: Futura;
    font-size: 5rem;
    margin-top: 6rem;
    background-color: rgba(0,0,0,.3);
}


h1 {
    color: white !important;
    font-size: 3rem;
    margin-top: 1em !important;
    text-align: center;
    text-shadow: -.05em .05em .025em rgba(0, 0, 0, .4);
}

.informations {
    bottom: 0;
    left: 20px;
    position: absolute;
}

ul.informations{
    color: white;
    font-weight: bold;
    list-style: none;
    margin-top: 15em;
    padding: 0;
}

.informations  li{
    font-size: 18px;
}

/* Contact form*/
.screen-reader-response {
    width : 0;
}
form {
    background-color: rgba(0,0,0,.3);
    color: white;
    float: right;
    margin-bottom: 1em;
    padding: 1em;
    max-width: 500px;
}

input {
    width: 100%;
}

textarea {
    resize: none!important;
    width: 100%;
}

.btn-info {
    background-color: rgb(0, 158, 214);
    border: none;
    border-radius: 0 !important;
    margin-top: 10px;
    width : auto;
    position : relative;
    right : -1.2rem;
}

.btn-info:hover {
    background-color: rgba(0, 158, 214,0.7);
    border-color: rgba(0, 158, 214,0.7);
}

@media(min-width: 992px) and (min-height: 750px), (min-width: 768px) and (min-height: 820px){
    .page-content {
        bottom: 0;
        position: absolute;
        width: 100%;
    }
}

@media(max-width: 767px) {
    .logo {
        max-width: 400px;
    }

    h1 {
        margin-bottom: 1em !important;
    }

    .informations {
        left: 0;
        position: relative;
    }

    ul.informations {
        margin-top: 0;
        text-align: center;
    }

    form {
        float: none;
        max-width: none;
    }
}

@media(max-width: 375px) {
    .logo {
        max-width: 100%;
    }
}




